# Ignore build folder
docs/_build
build/
/dist/
*.csv
*.vtk
*.edge
*~
*.pyc
*.swp
*.swo
*.egg-info
*.egg
pip-log.txt
medianshape/draft/
medianshape/backup.py
medianshape/experiment/median/data/
medianshape/experiment/deform/data/
.DS_Store
